<footer class="footer__container">
  <nav>
    <ul class="footer__socialmed">
      <li class="footer__item">
        <a href="mailto:cristinapontijas@gmail.com" target="_blank">
          <img src="./mail.png" class="footer__img" />
        </a>
      </li>
      <li class="footer__item">
        <a href="https://www.linkedin.com/in/cristinapontijas/" target="_blank">
          <img src="./linkedin.png" class="footer__img" />
        </a>
      </li>
      <li class="footer__item">
        <a href="https://github.com/pontijas" target="_blank">
          <img src="./github.png" class="footer__img" />
        </a>
      </li>
    </ul>
  </nav>

  <section class="footer__credits">
    <small>
      2020 Cristina Pontijas
    </small>
    <small>&copy; Todos los derechos reservados</small>
  </section>
</footer>
