<header class="header__container">
  <div class="header__box">
    <section class="header__header">
      <img src="./menu-4.png" alt="menu" class="header__hamburguer js-btn" />
      <nav class="header__menu js-menu menu-hidden">
        <ul class="header__list">
          <li><a href="#projects" class="header__link">Projects</a></li>
          <li><a href="#about" class="header__link">About</a></li>
          <li><a href="#contact" class="header__link">Contact Me</a></li>
        </ul>
      </nav>
      <img src="./dot.png" alt="logo" class="header__logo js-logo" />
    </section>
    <h2 class="header__title js-title title-hidden">Cristina Pontijas <small class="header__small">Frontend Developer</small></h2>
    <!-- <h1 class="header__title">I build <small class="header__small-1">Websites</small> & <small class="header__small-2">More</small>.</h1> -->
  </div>
</header>
