<header class="header__container">
  <div class="header__box">
    <section class="header__header">
      <img src="./menu-4.png" alt="menu" class="header__hamburguer" />
      <nav class="header__menu">
        <ul class="header__list">
          <li><a href="#" class="header__link">Projects</a></li>
          <li><a href="#" class="header__link">About Me</a></li>
          <li><a href="#contact" class="header__link">Contact</a></li>
        </ul>
      </nav>
      <img src="./cursor.png" alt="logo" class="header__logo" />
    </section>

    <h1 class="header__title">I build <small class="header__small-1">Websites</small> & <small class="header__small-2">More</small>.</h1>
  </div>
</header>
