<header class="header__container">
  <div class="header__box">
    <section class="header__header">
      <img src="./menu.png" alt="menu" class="header__hamburguer js-btn" />
      <nav class="header__menu js-menu menu-hidden">
        <ul class="header__list">
          <li><a href="#projects" class="header__link header__link-1">Projects</a></li>
          <li class="header__link-2"><a href="#about" class="header__link">About</a></li>
          <li class="header__link-3"><a href="#contact" class="header__link">Contact Me</a></li>
        </ul>
      </nav>
      <img src="./dot.png" alt="logo" class="header__logo js-logo" />
    </section>
    <h2 class="header__title js-title title-hidden">Cristina Pontijas <small class="header__small">frontend developer</small></h2>
  </div>
</header>
