<header class="header__container" id="top">
  <div class="header__box">
    <section class="header__header">
      <img src="./menu.png" alt="menu" class="header__hamburguer js-btn" />
      <nav class="header__menu js-menu menu-hidden">
        <a href="../index.html" class="header__link">Go back to Main</a>
      </nav>
      <img src="./dot.png" alt="logo" class="header__logo js-logo" />
    </section>
    <h2 class="header__title js-title title-hidden">Cristina Pontijas <small class="header__small">frontend developer</small></h2>
  </div>
</header>
