<main class="main__container">
  <section class="main__projects">
    <div class="project__container">
      <img src="../../assets/images/drumkit-screenshot-1.jpg" alt="Project Screenshot" height="300px" />
      <h2>30 Js Drum Kit</h2>
      <a href="https://pontijas.github.io/pontijas-30js-drum-kit/" target="_blank">Try me!</a>
      <a href="https://github.com/pontijas/pontijas-30js-drum-kit" target="_blank">link to repository</a>
    </div>
    <div class="project__container">
      <!-- <video width="320" autoplay loop>
        <source src="./drumkit-video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video> -->
      <img src="https://dummyimage.com/400/000000/fff" alt="Project Screenshot" />
      <h2>Project Title</h2>
      <a href="#">link to repository</a>
    </div>
  </section>
</main>
