<main class="main__container">
  <section class="main__projects grid__container">
    <section class="project__container grid__item-1">
      <a href="https://pontijas.github.io/pontijas-30js-drum-kit/">
        <img src="../../assets/images/drumkit-mockup.jpg" alt="Project Screenshot" class="project__img" />
      </a>
      <h2 class="project__title">30 Js Drum Kit</h2>
      <a href="https://github.com/pontijas/pontijas-30js-drum-kit" target="_blank" class="project__link">Link to repository</a>
      <div class="link__container">
        <img src="./arrow.png" alt="arrow" class="link__arrow" />
        <a href="https://pontijas.github.io/pontijas-30js-drum-kit/" target="_blank" class="link__link">Try me!</a>
      </div>
    </section>

    <section class="project__container grid__item-2">
      <a href="https://pontijas.github.io/promo-i-pontijas-side-project-fortune-cookie/">
        <img src="../../assets/images/cookie-mockup.jpg" alt="Project Screenshot" class="project__img" />
      </a>
      <h2 class="project__title">Fortune Cookie</h2>
      <a href="https://github.com/pontijas/promo-i-pontijas-side-project-fortune-cookie" target="_blank" class="project__link">Link to repository</a>
      <div class="link__container">
        <img src="./arrow.png" alt="arrow" class="link__arrow" />
        <a href="https://pontijas.github.io/promo-i-pontijas-side-project-fortune-cookie/" target="_blank" class="link__link">Try me!</a>
      </div>
    </section>

    <section class="project__container grid__item-3">
      <a href="http://beta.adalab.es/modulo-3-evaluacion-final-pontijas/#/">
        <img src="../../assets/images/rick-mockup.jpg" alt="Project Screenshot" class="project__img" />
      </a>
      <h2 class="project__title">Rick&Morty Directory</h2>
      <a href="https://github.com/Adalab/modulo-3-evaluacion-final-pontijas" target="_blank" class="project__link">Link to repository</a>
      <div class="link__container">
        <img src="./arrow.png" alt="arrow" class="link__arrow" />
        <a href="http://beta.adalab.es/modulo-3-evaluacion-final-pontijas/#/" target="_blank" class="link__link">Try me!</a>
      </div>
    </section>
  </section>
</main>
