<main class="main__container">
  <!-- projects -->

  <h1 id="projects" class="main__title">I build <small class="main__small-1">Websites</small> & <small class="main__small-2">Stuff</small>.</h1>
  <section class="main__projects grid__container">
    <section class="project__container grid__item-1">
      <a href="https://pontijas.github.io/pontijas-30js-drum-kit/">
        <img src="../../assets/images/drumkit-mockup.jpg" alt="Project Mockup" class="project__img" />
      </a>
      <h2 class="project__title">30 Js Drum Kit</h2>
      <a href="https://github.com/pontijas/pontijas-30js-drum-kit" target="_blank" class="project__link">Link to repository</a>
      <div class="link__container">
        <img src="./arrow.png" alt="arrow" class="link__arrow" />
        <a href="https://pontijas.github.io/pontijas-30js-drum-kit/" target="_blank" class="link__link">Try me!</a>
      </div>
    </section>

    <section class="project__container grid__item-2">
      <a href="https://pontijas.github.io/promo-i-pontijas-side-project-fortune-cookie/">
        <img src="../../assets/images/cookie-mockup.jpg" alt="Project Mockup" class="project__img" />
      </a>
      <h2 class="project__title">Fortune Cookie</h2>
      <a href="https://github.com/pontijas/promo-i-pontijas-side-project-fortune-cookie" target="_blank" class="project__link">Link to repository</a>
      <div class="link__container">
        <img src="./arrow.png" alt="arrow" class="link__arrow" />
        <a href="https://pontijas.github.io/promo-i-pontijas-side-project-fortune-cookie/" target="_blank" class="link__link">Try me!</a>
      </div>
    </section>

    <section class="project__container grid__item-3">
      <a href="http://beta.adalab.es/modulo-3-evaluacion-final-pontijas/#/">
        <img src="../../assets/images/rick-mockup.jpg" alt="Project Mockup" class="project__img" />
      </a>
      <h2 class="project__title">Rick&Morty Directory</h2>
      <a href="https://github.com/Adalab/modulo-3-evaluacion-final-pontijas" target="_blank" class="project__link">Link to repository</a>
      <div class="link__container">
        <img src="./arrow.png" alt="arrow" class="link__arrow" />
        <a href="http://beta.adalab.es/modulo-3-evaluacion-final-pontijas/#/" target="_blank" class="link__link">Try me!</a>
      </div>
    </section>
    <section class="project__container grid__item-4">
      <a href="http://beta.adalab.es/project-promo-i-module-2-team-2-morning/">
        <img src="../../assets/images/awesome-mockup.jpg" alt="Project Mockup" class="project__img" />
      </a>
      <h2 class="project__title">Awesome Profile Cards</h2>
      <a href="https://github.com/Adalab/modulo-3-evaluacion-final-pontijas" target="_blank" class="project__link">Link to repository</a>
      <div class="link__container">
        <img src="./arrow.png" alt="arrow" class="link__arrow" />
        <a href="http://beta.adalab.es/project-promo-i-module-2-team-2-morning/" target="_blank" class="link__link">Try me!</a>
      </div>
    </section>
  </section>

  <!-- about -->

  <section class="main__about">
    <article class="about__container">
      <h2 id="about" class="about__slogan">"<small class="about__small-1">less</small> is <small class="about__small-2">more</small>".</h2>
      <div class="about__img-box">
        <img src="../../assets/images/cv-portrait-2020_0002.JPG" alt="Cris" class="about__portrait" />
      </div>
      <h2 class="about__title">Hello!</h2>
      <p class="about__text">I am a frontend developer with huge passion for art, design and innovation.</p>
    </article>

    <!-- skills -->

    <section class="skills__container">
      <article class="skills__article-1">
        <img src="./arrowhite.png" alt="arrow" class="skills__arrow" />
        <h3 class="skills__title">soft skills</h3>
      </article>
      <article class="skills__article-2">
        <img src="./arrowhite-r.png" alt="arrow" class="skills__arrow" />
        <h3 class="skills__title">hard skills</h3>
      </article>
      <article class="skills__article-3">
        <img src="./arrowhite.png" alt="arrow" class="skills__arrow" />
        <h3 class="skills__title">services</h3>
      </article>
    </section>
  </section>
</main>
