.footer {
  &__container {
    margin: 5rem 0;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  &__title {
    font-family: $titleFont;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    background: linear-gradient(90deg, #00d3ff 35%, #1fff00 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__contact {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__location {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  &__icon {
    height: 1.5rem;
  }
  &__text {
    display: block;
    text-transform: capitalize;
    margin: 1.5rem 0.5rem;
  }
  &__email {
    text-decoration: none;
    font-size: 1rem;
  }
  &__socialmed {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin-bottom: 1rem;
  }
  &__item {
    margin: 0 0.25rem;
  }
  &__img {
    height: 2rem;
  }
  &__credits {
    height: 2rem;
    font-size: 0.65rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// responsive

@media all and (min-width: 768px) {
  .footer {
    &__container {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    &__title {
      font-size: 2.5rem;
    }
    &__credits {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__footer {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media all and (min-width: 1200px) {
  .footer {
    &__container {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    &__title {
      font-size: 3.5rem;
    }
    &__credits {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1rem;
    }
    &__footer {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}
