.header {
  &__container {
    padding: 1.5rem 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    width: 50%;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    text-decoration: none;
  }
  &__img {
    height: 50px;
  }
}
