.header {
  &__container {
    padding: 1.5rem 3rem;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    width: 100%;
    font-size: 0.8rem;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
  }
  &__link {
    text-decoration: none;
    margin: 0 0.8rem;
  }
  &__logo {
    display: none;
    height: 2rem;
  }
}

// responsive

@media all and (min-width: 768px) {
  .header {
    &__container {
      padding: 1.5rem 3rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    &__list {
      justify-content: flex-start;
    }
    &__logo {
      display: block;
      height: 2.5rem;
    }
    &__menu {
      font-size: 1rem;
    }
  }
}

@media all and (min-width: 1200px) {
  .header {
    &__container {
      padding: 1.5rem 3rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    &__list {
      justify-content: flex-start;
    }
    &__logo {
      display: block;
      height: 3rem;
    }
    &__menu {
      font-size: 1.25rem;
    }
  }
}
