.main {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__about {
    background-color: $black;
    width: 100%;
    padding: 5rem 0.5rem;
    color: white;
  }
  &__title {
    margin-top: 6rem;
    font-family: $titleFont;
    font-size: 1.5rem;
  }
  &__small-1 {
    font-family: $titleFont;
    font-size: 1.5rem;
    background: linear-gradient(90deg, #00d3ff 20%, #1fff00 66%, #ffcd00 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__small-2 {
    font-family: $titleFont;
    font-size: 1.5rem;
    background: linear-gradient(90deg, #ffcd00 0%, #ff00c6 43%, #00b9ff 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.project {
  &__container {
    margin: 5rem 0;
  }
  &__img {
    width: 17.5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    &:hover {
      background-image: url(../../pattern-img.png);
      background-size: 21.5rem;
      background-position: right;
      background-repeat: no-repeat;
    }
  }
  &__title {
    font-family: $titleFont;
  }
  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }
}

.link {
  &__container {
    margin: 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__link {
    margin-left: 1rem;
    text-decoration: none;
    color: inherit;
  }
  &__arrow {
    width: 1.5rem;
  }
}

.about {
  &__container {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__slogan {
    font-family: $titleFont;
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }
  &__small-1 {
    font-family: $titleFont;
    text-transform: capitalize;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #ff0000 0%, #ff00c6 43%, #8100ff 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__small-2 {
    font-family: $titleFont;
    text-transform: capitalize;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #8100ff 0%, #ff00c6 43%, #ff0000 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__title {
    font-family: $titleFont;
    margin-bottom: 2rem;
    background: linear-gradient(90deg, #8100ff 45%, #3700ff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__portrait {
    height: 12.5rem;
    z-index: 0;
    margin-bottom: 5rem;
  }
  &__text {
    width: 60vw;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
  &__link {
    text-decoration: none;
    color: #3700ff;
    width: 60vw;
    font-size: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: right;
  }
}

.skills {
  &__container {
    // display: block;
    padding: 5rem 2rem;
  }
  &__article-1 {
    margin: 2.5rem 0;
    display: flex;
    flex-flow: row nowrap;
  }
  &__article-2 {
    margin: 2.5rem 0;
    display: flex;
    flex-flow: row-reverse nowrap;
  }
  &__article-3 {
    margin: 2.5rem 0;
    display: flex;
    flex-flow: row nowrap;
  }
  &__arrow {
    width: 1.5rem;
  }
  &__title {
    margin-right: 2rem;
    margin-left: 2rem;
    text-transform: capitalize;
  }
}

// responsive

@media all and (min-width: 768px) {
  .main {
    &__title {
      font-family: $titleFont;
      font-size: 3rem;
    }
    &__small-1 {
      font-size: 3rem;
    }
    &__small-2 {
      font-size: 3rem;
    }
  }
  .project {
    &__img {
      width: 19rem;
    }
  }
  .about {
    &__slogan {
      font-size: 3.5rem;
    }
    &__small-1 {
      font-size: 3.5rem;
    }
    &__small-2 {
      font-size: 3.5rem;
    }
    &__title {
      font-size: 2rem;
    }
    &__text {
      font-size: 1.15rem;
    }
    &__link {
      font-size: 1rem;
    }
  }
  .skills {
    &__article-1 {
      font-size: 1.15rem;
    }
    &__article-2 {
      font-size: 1.15rem;
    }
    &__article-3 {
      font-size: 1.15rem;
    }
    &__arrow {
      width: 1.75rem;
    }
  }
  .grid {
    &__container {
      display: grid;
      // grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
    }
  }
}

@media all and (min-width: 1200px) {
  .main {
    &__title {
      font-family: $titleFont;
      font-size: 3.5rem;
    }
    &__small-1 {
      font-size: 3.5rem;
    }
    &__small-2 {
      font-size: 3.5rem;
    }
  }
  .project {
    &__img {
      width: 20rem;
    }
  }
  .about {
    &__slogan {
      font-size: 4.5rem;
    }
    &__small-1 {
      font-size: 4.5rem;
    }
    &__small-2 {
      font-size: 4.5rem;
    }
    &__title {
      font-size: 2.25rem;
    }
    &__text {
      font-size: 1.25rem;
    }
    &__link {
      font-size: 1.15rem;
    }
  }
  .skills {
    &__article-1 {
      font-size: 1.25rem;
    }
    &__article-2 {
      font-size: 1.25rem;
    }
    &__article-3 {
      font-size: 1.25rem;
    }
    &__arrow {
      width: 2rem;
    }
  }
  .grid {
    &__container {
      display: grid;
      // grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3.5rem;
    }
  }
}
