.main {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.project {
  &__container {
    margin: 5rem 0;
  }
  &__img {
    height: 200px;
  }
}

.link {
  &__container {
    margin: 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  &__link {
    margin-left: 1rem;
    text-decoration: none;
  }
  &__arrow {
    width: 2rem;
  }
}
